*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #31373d;
    height: 8vh;

}

@media only screen and (min-width:400px){
    header{
        display:flex

    }
}

.logo,
.nav-list {
    border:1px solid hotpink;
    height: 100%;
    

}
@media only screen and (min-width:400px){
    .logo, .midbacksplash,
    .nav-list{
        height: 70px;
        width: 1000px;
    }

    .midbacksplash{
   border: 5px solid coral;
   display: flex;
    height: 170px;
    width: 1700px;
    }

.logo{
    display:flex;
    justify-content: flex-start;
}

.logo img{
    width: 75%;
    height: 70px;
   
}

.nav-list{
    display:flex;
    align-items: flex-end;
    justify-content:flex-end;
    font-size: 29px;
    padding: 5px;
    margin-right: 5px;
    font-family: Copperplate, Papyrus, fantasy;
   
}
ul{
    list-style: none;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
  
li{
    padding: 0px 20px;
    border: 1px solid rgb(12, 12, 12);
    color: #83a1b9;

}
a{
    color:#83a1b9;
    text-decoration: none;
}

.contactme{
    color:black
}
.aboutme{
    display:flex;
    align-items: inherit;
    position: relative;
    Border:5px solid red
}
.aboutme_heading {
    display: flex;
    align-content: center;
    float: left;
    border-right:5px solid yellow;
    margin-top: 80px;
    margin-right: 15px;
    width: 25%;
    padding-top: 50px;
    padding-left: 15px;
    height: 150px;
    font-size: 36px;
    font-family:  Copperplate, Papyrus, fantasy; 

}
@media only screen and (max-width:400px){
    .aboutme_heading {
        margin-top: 0;
    }

.work {
    display: flex;
    align-content: center;
    float: left;
    border-right:5px solid yellow;
    margin-top: 80px;
    margin-right: 15px;
    width: 25%;
    padding-top: 50px;
    padding-left: 15px;
    height: 150px;
    font-size: 36px;
    font-family:  Copperplate, Papyrus, fantasy; 
    }