*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #31373d;
    height: 8vh;

}

@media only screen and (min-width:400px){
    header{
        display:flex

    }
}

.logo,
.nav-list {
    height: 100%;
    

}
@media only screen and (min-width:400px){
    .logo, .midbacksplash,
    .nav-list{
        height: 70px;
        width: 1000px;
    }
}

.midbacksplash{
   background-image: url(./Images/Backgroundphoto.png);
   display: flex;
    height: 170px;
    width: auto;
    }

.logo{
    display:flex;
    justify-content: flex-start;
}

.logo img{
    width: 75%;
    height: 70px;
   
}

.nav-list{
    display:flex;
    align-items: flex-end;
    justify-content:flex-end;
    font-size: 29px;
    padding: 5px;
    margin-right: 5px;
    font-family: Copperplate, Papyrus, fantasy;
   
}
ul{
    list-style: none;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
  
li{
    padding: 0px 20px;
    color: #83a1b9;
    font-size: 24px;

}
a{
    color:#83a1b9;
    text-decoration: none;
}

#surf-report {
    background-image: url(./Images/Surfreport.png);
    background-position: center;
    background-size:cover;
    margin-right: 15px;
    height: 200px;
    width: 100%;
}

#calculator{
    background-image: url(./Images/calculator.png);
    background-position: center;
    background-size:cover;
    height: 200px;
    width: 100%; 
    margin-right: 15px;
    color:white
    }

#ledwall {
    background-image: url(./Images/led_wall.png);
    background-position: center;
    background-size:cover;
    height: 200px;
    width: 100%;
    margin: 15px;
}
#pastelpuzzles{
    background-image: url(./Images/pastel.png);
    background-position: center;
    background-size:cover;
    height: 200px;
    width: 100%;
    margin: 15px;
}
#run-buddy{
    background-image: url(.....);
    background-position: center;
    background-size:cover;
    height: 200px;
    width: 100%;
}
.aboutmesubheading{
   display:flex;
   justify-content: left;
   padding-right: 115px;
}  

.worksubheading{
    display:flex;
    justify-content: left;
    padding-right: 115px;
}


.contactme,.work, .aboutme{
    display:flex;
    align-items:flex-start;
    flex-wrap: nowrap;
    justify-content:space-between;
    margin-top: 150px;
    margin-bottom: 150px;
    font-family:Copperplate, Papyrus, fantasy; 

}
@media only screen and (min-width:650px){
    .contactme,.work, .aboutme{
        align-items: center;

    }
}
.contactmesubheading{
    display:flex;
    justify-content: left;
    padding-right: 85px;
}
    
.headshot{
display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-top: 50px;

}

